* {
    margin: 0;
}

.container {
    display: flex;
    width: 100%;
    height: 100%;
    flex: 1;
}

.img {
    width: 35%;
    height: 100vh;
    background: no-repeat url('imgs/logo-bg.jpg');
    background-size: cover;
    background-color: lightcoral;
}

.form-container {
    background-color: lightblue;
    height: 100vh;
    width: 75%;
}

.logo-container {
    height: 250px;
    width: 100%;
    background-color: #000;
    margin-top: 20%; 
    opacity: 0.5;
}